p.svelte-xyzgp3{margin:0;text-wrap:pretty;line-height:1.5}p.svelte-xyzgp3:not(:last-child){margin:0 0 .5rem}p.svelte-xyzgp3:not(:last-child):has(+ul.wide),p.svelte-xyzgp3:not(:last-child):has(+ol.wide){margin:0 0 .25rem}
